In [47]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

Importing my datset which I sourced through Kaggle and creating pandas dataframe

In [97]:
df=pd.read_csv("fifa_cleaned.csv")

Printing head of my data to make sure everything is displaying corrently and seeing what columns will be useful

In [98]:
df.head

<bound method NDFrame.head of            id            name                         full_name  birth_date  \
0      158023        L. Messi    Lionel Andrés Messi Cuccittini  1987-06-24
1      190460      C. Eriksen      Christian  Dannemann Eriksen  1992-02-14
2      195864        P. Pogba                        Paul Pogba  1993-03-15
3      198219      L. Insigne                   Lorenzo Insigne  1991-06-04
4      201024    K. Koulibaly                 Kalidou Koulibaly  1991-06-20
...       ...             ...                               ...         ...
17949  204322     R. McKenzie                    Rory  McKenzie  1993-10-07
17950  239762       M. Sipľak                     Michal Sipľak  1996-02-02
17951  235155      J. Bekkema                       Jan Bekkema  1996-04-09
17952  244883      A. Al Yami               Abdulrahman Al Yami  1997-06-19
17953  247187  Júnior Brumado  José Francisco dos Santos Júnior  1999-05-15

       age  height_cm  weight_kgs  positions   nationality  overall_rating  \
0       31     170.18        72.1   CF,RW,ST     Argentina              94
1       27     154.94        76.2  CAM,RM,CM       Denmark              88
2       25     190.50        83.9     CM,CAM        France              88
3       27     162.56        59.0      LW,ST         Italy              88
4       27     187.96        88.9         CB       Senegal              88
...    ...        ...         ...        ...           ...             ...
17949   25     175.26        74.8  RM,CAM,CM      Scotland              67
17950   23     182.88        79.8         LB      Slovakia              59
17951   22     185.42        89.8         GK   Netherlands              59
17952   21     175.26        64.9      ST,LM  Saudi Arabia              59
17953   19     190.50        79.8         ST        Brazil              59

       ...   LWB   LDM   CDM   RDM   RWB    LB   LCB    CB   RCB    RB
0      ...  64+2  61+2  61+2  61+2  64+2  59+2  48+2  48+2  48+2  59+2
1      ...  71+3  71+3  71+3  71+3  71+3  66+3  57+3  57+3  57+3  66+3
2      ...  76+3  77+3  77+3  77+3  76+3  74+3  72+3  72+3  72+3  74+3
3      ...  63+3  58+3  58+3  58+3  63+3  58+3  44+3  44+3  44+3  58+3
4      ...  73+3  77+3  77+3  77+3  73+3  76+3  85+3  85+3  85+3  76+3
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
17949  ...  53+2  52+2  52+2  52+2  53+2  50+2  46+2  46+2  46+2  50+2
17950  ...  57+2  55+2  55+2  55+2  57+2  57+2  58+2  58+2  58+2  57+2
17951  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17952  ...  41+2  35+2  35+2  35+2  41+2  39+2  32+2  32+2  32+2  39+2
17953  ...  41+2  40+2  40+2  40+2  41+2  40+2  40+2  40+2  40+2  40+2

[17954 rows x 92 columns]>

Checking data columens for missing values

Viewing which country has the most top players

In [101]:
df.groupby(['nationality']).count()['full_name'].sort_values(ascending=False)

nationality
England          1658
Germany          1199
Spain            1070
France            925
Argentina         904
                 ...
Guam                1
New Caledonia       1
Indonesia           1
St Lucia            1
Kuwait              1
Name: full_name, Length: 160, dtype: int64

In [102]:
df.isna().sum()

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
LB            2065
LCB           2065
CB            2065
RCB           2065
RB            2065
Length: 92, dtype: int64

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             17954 non-null  int64
 1   name                           17954 non-null  object
 2   full_name                      17954 non-null  object
 3   birth_date                     17954 non-null  object
 4   age                            17954 non-null  int64
 5   height_cm                      17954 non-null  float64
 6   weight_kgs                     17954 non-null  float64
 7   positions                      17954 non-null  object
 8   nationality                    17954 non-null  object
 9   overall_rating                 17954 non-null  int64
 10  potential                      17954 non-null  int64
 11  value_euro                     17699 non-null  float64
 12  wage_euro                      17708 non-null  float64
 13  preferred_foot                 17954 non-null  object
 14  international_reputation(1-5)  17954 non-null  int64
 15  weak_foot(1-5)                 17954 non-null  int64
 16  skill_moves(1-5)               17954 non-null  int64
 17  work_rate                      17954 non-null  object
 18  body_type                      17954 non-null  object
 19  release_clause_euro            16117 non-null  float64
 20  club_team                      17940 non-null  object
 21  club_rating                    17940 non-null  float64
 22  club_position                  17940 non-null  object
 23  club_jersey_number             17940 non-null  float64
 24  club_join_date                 16018 non-null  object
 25  contract_end_year              17593 non-null  object
 26  national_team                  857 non-null    object
 27  national_rating                857 non-null    float64
 28  national_team_position         857 non-null    object
 29  national_jersey_number         857 non-null    float64
 30  crossing                       17954 non-null  int64
 31  finishing                      17954 non-null  int64
 32  heading_accuracy               17954 non-null  int64
 33  short_passing                  17954 non-null  int64
 34  volleys                        17954 non-null  int64
 35  dribbling                      17954 non-null  int64
 36  curve                          17954 non-null  int64
 37  freekick_accuracy              17954 non-null  int64
 38  long_passing                   17954 non-null  int64
 39  ball_control                   17954 non-null  int64
 40  acceleration                   17954 non-null  int64
 41  sprint_speed                   17954 non-null  int64
 42  agility                        17954 non-null  int64
 43  reactions                      17954 non-null  int64
 44  balance                        17954 non-null  int64
 45  shot_power                     17954 non-null  int64
 46  jumping                        17954 non-null  int64
 47  stamina                        17954 non-null  int64
 48  strength                       17954 non-null  int64
 49  long_shots                     17954 non-null  int64
 50  aggression                     17954 non-null  int64
 51  interceptions                  17954 non-null  int64
 52  positioning                    17954 non-null  int64
 53  vision                         17954 non-null  int64
 54  penalties                      17954 non-null  int64
 55  composure                      17954 non-null  int64
 56  marking                        17954 non-null  int64
 57  standing_tackle                17954 non-null  int64
 58  sliding_tackle                 17954 non-null  int64
 59  GK_diving                      17954 non-null  int64
 60  GK_handling                    17954 non-null  int64
 61  GK_kicking                     17954 non-null  int64
 62  GK_positioning                 17954 non-null  int64
 63  GK_reflexes                    17954 non-null  int64
 64  tags                           1417 non-null   object
 65  traits                         8137 non-null   object
 66  LS                             15889 non-null  object
 67  ST                             15889 non-null  object
 68  RS                             15889 non-null  object
 69  LW                             15889 non-null  object
 70  LF                             15889 non-null  object
 71  CF                             15889 non-null  object
 72  RF                             15889 non-null  object
 73  RW                             15889 non-null  object
 74  LAM                            15889 non-null  object
 75  CAM                            15889 non-null  object
 76  RAM                            15889 non-null  object
 77  LM                             15889 non-null  object
 78  LCM                            15889 non-null  object
 79  CM                             15889 non-null  object
 80  RCM                            15889 non-null  object
 81  RM                             15889 non-null  object
 82  LWB                            15889 non-null  object
 83  LDM                            15889 non-null  object
 84  CDM                            15889 non-null  object
 85  RDM                            15889 non-null  object
 86  RWB                            15889 non-null  object
 87  LB                             15889 non-null  object
 88  LCB                            15889 non-null  object
 89  CB                             15889 non-null  object
 90  RCB                            15889 non-null  object
 91  RB                             15889 non-null  object
dtypes: float64(9), int64(41), object(42)
memory usage: 12.6+ MB

In the following code, I decide what columns I want to keep, I save this as df2 to create a new dataset so to avoid any confusion

In [104]:
df2 = df[['id', 'full_name', 'birth_date', 'age', 'height_cm', 'weight_kgs', 'positions', 'nationality', 'overall_rating', 'potential', 'value_euro', 'wage_euro', 'preferred_foot', 'club_team', 'club_rating', 'club_position'  ]]

In [105]:
df2.head

<bound method NDFrame.head of            id                         full_name  birth_date  age  height_cm  \
0      158023    Lionel Andrés Messi Cuccittini  1987-06-24   31     170.18
1      190460      Christian  Dannemann Eriksen  1992-02-14   27     154.94
2      195864                        Paul Pogba  1993-03-15   25     190.50
3      198219                   Lorenzo Insigne  1991-06-04   27     162.56
4      201024                 Kalidou Koulibaly  1991-06-20   27     187.96
...       ...                               ...         ...  ...        ...
17949  204322                    Rory  McKenzie  1993-10-07   25     175.26
17950  239762                     Michal Sipľak  1996-02-02   23     182.88
17951  235155                       Jan Bekkema  1996-04-09   22     185.42
17952  244883               Abdulrahman Al Yami  1997-06-19   21     175.26
17953  247187  José Francisco dos Santos Júnior  1999-05-15   19     190.50

       weight_kgs  positions   nationality  overall_rating  potential  \
0            72.1   CF,RW,ST     Argentina              94         94
1            76.2  CAM,RM,CM       Denmark              88         89
2            83.9     CM,CAM        France              88         91
3            59.0      LW,ST         Italy              88         88
4            88.9         CB       Senegal              88         91
...           ...        ...           ...             ...        ...
17949        74.8  RM,CAM,CM      Scotland              67         70
17950        79.8         LB      Slovakia              59         67
17951        89.8         GK   Netherlands              59         67
17952        64.9      ST,LM  Saudi Arabia              59         71
17953        79.8         ST        Brazil              59         75

        value_euro  wage_euro preferred_foot          club_team  club_rating  \
0      110500000.0   565000.0           Left       FC Barcelona         86.0
1       69500000.0   205000.0          Right  Tottenham Hotspur         83.0
2       73000000.0   255000.0          Right  Manchester United         82.0
3       62000000.0   165000.0          Right             Napoli         82.0
4       60000000.0   135000.0          Right             Napoli         82.0
...            ...        ...            ...                ...          ...
17949     975000.0     3000.0          Right         Kilmarnock         67.0
17950     190000.0     1000.0           Left           Cracovia         65.0
17951     170000.0     1000.0          Right      SC Heerenveen         69.0
17952     280000.0     4000.0          Right           Al Hilal         74.0
17953     325000.0     2000.0          Right     FC Midtjylland         71.0

      club_position
0                RW
1               LCM
2               LCM
3                LS
4               LCB
...             ...
17949           SUB
17950            LB
17951           RES
17952           RES
17953           RES

[17954 rows x 16 columns]>

In [106]:
Viewing info of the columns I have chosen to keep to see if any missing values are present in order so see what data I need to clean

SyntaxError: invalid syntax (<ipython-input-106-b87ef2299381>, line 1)

In [107]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17954 non-null  int64
 1   full_name       17954 non-null  object
 2   birth_date      17954 non-null  object
 3   age             17954 non-null  int64
 4   height_cm       17954 non-null  float64
 5   weight_kgs      17954 non-null  float64
 6   positions       17954 non-null  object
 7   nationality     17954 non-null  object
 8   overall_rating  17954 non-null  int64
 9   potential       17954 non-null  int64
 10  value_euro      17699 non-null  float64
 11  wage_euro       17708 non-null  float64
 12  preferred_foot  17954 non-null  object
 13  club_team       17940 non-null  object
 14  club_rating     17940 non-null  float64
 15  club_position   17940 non-null  object
dtypes: float64(5), int64(4), object(7)
memory usage: 2.2+ MB

In [108]:
I have no duplcate rows, I have duplicate values in columns but it makes no sense to remove these as attributes such as age, value can be the same amongst many players, I run the command below to show my understanding of this feature in pandas

SyntaxError: invalid syntax (<ipython-input-108-dd34987f4399>, line 1)

In [109]:
df2.drop_duplicates()

,id,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,club_team,club_rating,club_position
0,158023,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,565000.0,Left,FC Barcelona,86.0,RW
1,190460,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,205000.0,Right,Tottenham Hotspur,83.0,LCM
2,195864,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,255000.0,Right,Manchester United,82.0,LCM
3,198219,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,165000.0,Right,Napoli,82.0,LS
4,201024,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,91,60000000.0,135000.0,Right,Napoli,82.0,LCB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,3000.0,Right,Kilmarnock,67.0,SUB
17950,239762,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,67,190000.0,1000.0,Left,Cracovia,65.0,LB
17951,235155,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,67,170000.0,1000.0,Right,SC Heerenveen,69.0,RES
17952,244883,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,4000.0,Right,Al Hilal,74.0,RES
17953,247187,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,75,325000.0,2000.0,Right,FC Midtjylland,71.0,RES

In [110]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17954 non-null  int64
 1   full_name       17954 non-null  object
 2   birth_date      17954 non-null  object
 3   age             17954 non-null  int64
 4   height_cm       17954 non-null  float64
 5   weight_kgs      17954 non-null  float64
 6   positions       17954 non-null  object
 7   nationality     17954 non-null  object
 8   overall_rating  17954 non-null  int64
 9   potential       17954 non-null  int64
 10  value_euro      17699 non-null  float64
 11  wage_euro       17708 non-null  float64
 12  preferred_foot  17954 non-null  object
 13  club_team       17940 non-null  object
 14  club_rating     17940 non-null  float64
 15  club_position   17940 non-null  object
dtypes: float64(5), int64(4), object(7)
memory usage: 2.2+ MB

In [111]:
df2.fillna(df2.mean())

,id,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,club_team,club_rating,club_position
0,158023,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,565000.0,Left,FC Barcelona,86.0,RW
1,190460,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,205000.0,Right,Tottenham Hotspur,83.0,LCM
2,195864,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,255000.0,Right,Manchester United,82.0,LCM
3,198219,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,165000.0,Right,Napoli,82.0,LS
4,201024,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,91,60000000.0,135000.0,Right,Napoli,82.0,LCB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,3000.0,Right,Kilmarnock,67.0,SUB
17950,239762,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,67,190000.0,1000.0,Left,Cracovia,65.0,LB
17951,235155,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,67,170000.0,1000.0,Right,SC Heerenveen,69.0,RES
17952,244883,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,4000.0,Right,Al Hilal,74.0,RES
17953,247187,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,75,325000.0,2000.0,Right,FC Midtjylland,71.0,RES

In [112]:
df2['wage_euro'] = df2['wage_euro'].fillna((df2['wage_euro'].mean()))

<ipython-input-112-79f2990a4813>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['wage_euro'] = df2['wage_euro'].fillna((df2['wage_euro'].mean()))

In [113]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17954 non-null  int64
 1   full_name       17954 non-null  object
 2   birth_date      17954 non-null  object
 3   age             17954 non-null  int64
 4   height_cm       17954 non-null  float64
 5   weight_kgs      17954 non-null  float64
 6   positions       17954 non-null  object
 7   nationality     17954 non-null  object
 8   overall_rating  17954 non-null  int64
 9   potential       17954 non-null  int64
 10  value_euro      17699 non-null  float64
 11  wage_euro       17954 non-null  float64
 12  preferred_foot  17954 non-null  object
 13  club_team       17940 non-null  object
 14  club_rating     17940 non-null  float64
 15  club_position   17940 non-null  object
dtypes: float64(5), int64(4), object(7)
memory usage: 2.2+ MB

In [114]:
df2 = df2.dropna(subset=['club_team', 'club_rating', 'club_position'])

Dropping the rows where columns have a null value. This allows me to work through my data with full values across all rows so we are ready to start analysing data, below I check the data info to ensure this

In [115]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17940 entries, 0 to 17953
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17940 non-null  int64
 1   full_name       17940 non-null  object
 2   birth_date      17940 non-null  object
 3   age             17940 non-null  int64
 4   height_cm       17940 non-null  float64
 5   weight_kgs      17940 non-null  float64
 6   positions       17940 non-null  object
 7   nationality     17940 non-null  object
 8   overall_rating  17940 non-null  int64
 9   potential       17940 non-null  int64
 10  value_euro      17699 non-null  float64
 11  wage_euro       17940 non-null  float64
 12  preferred_foot  17940 non-null  object
 13  club_team       17940 non-null  object
 14  club_rating     17940 non-null  float64
 15  club_position   17940 non-null  object
dtypes: float64(5), int64(4), object(7)
memory usage: 2.3+ MB

Merging DataFrames, I scraped a web site online to get the popluation per country, I will join this to the player database in order to compare players per population etc.

In [ ]:
Below I import the dataframe I scraped from the web

In [117]:
df_pop=pd.read_csv("fifa_pop")

In [133]:
df_pop

,Unnamed: 0,Rank,Country,2022 Population,2021 Population,Growth Rate,Area,Density (km²)
0,0,1,China,1448471400,1.444216e+09,0.29%,9706961,149/km²
1,1,2,India,1406631776,1.393409e+09,0.95%,3287590,428/km²
2,2,3,United States,334805269,3.329151e+08,0.57%,9372610,36/km²
3,3,4,Indonesia,279134505,2.763618e+08,1.00%,1904569,147/km²
4,4,5,Pakistan,229488994,2.251999e+08,1.90%,881912,260/km²
...,...,...,...,...,...,...,...,...
204,204,205,San Marino,34085,3.401700e+04,0.20%,61,559/km²
205,205,206,Palau,18233,1.816900e+04,0.35%,459,40/km²
206,206,207,Tuvalu,12066,1.193100e+04,1.13%,26,464/km²
207,207,208,Nauru,10903,1.087600e+04,0.25%,21,519/km²
208,208,209,Vatican City,799,8.000000e+02,-0.12%,1,799/km²

In [134]:
Below I merge my two dataframes together. Using Country as a common set of data which is included as nationality in my original dataframe

SyntaxError: invalid syntax (<ipython-input-134-6a173eabeab9>, line 1)

In [150]:
fulldf = pd.merge(df2, df_pop, left_on='nationality', right_on='Country')

In [151]:
fulldf

,id,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,club_rating,club_position,Unnamed: 0,Rank,Country,2022 Population,2021 Population,Growth Rate,Area,Density (km²)
0,158023,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,86.0,RW,32,33,Argentina,46010234,45605826.0,0.89%,2780400,17/km²
1,153079,Sergio Leonel Agüero del Castillo,1988-06-02,30,172.72,69.9,ST,Argentina,89,89,...,85.0,ST,32,33,Argentina,46010234,45605826.0,0.89%,2780400,17/km²
2,211110,Paulo Bruno Exequiel Dybala,1993-11-15,25,152.40,74.8,"CAM,RW",Argentina,89,94,...,85.0,RW,32,33,Argentina,46010234,45605826.0,0.89%,2780400,17/km²
3,167664,Gonzalo Gerardo Higuaín,1987-12-10,31,185.42,88.9,ST,Argentina,87,87,...,83.0,ST,32,33,Argentina,46010234,45605826.0,0.89%,2780400,17/km²
4,201399,Mauro Emanuel Icardi Rivero,1993-02-19,26,154.94,74.8,ST,Argentina,87,90,...,82.0,ST,32,33,Argentina,46010234,45605826.0,0.89%,2780400,17/km²
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16607,217532,Mohammed Mounir Abdussalam,1992-04-08,26,152.40,76.2,"LB,LM",Libya,70,73,...,70.0,SUB,107,108,Libya,7040745,6958532.0,1.18%,1759540,4/km²
16608,213302,Ismael Tajouri-Shradi,1994-03-28,24,170.18,68.9,"LW,RW,RM",Libya,71,76,...,69.0,RW,107,108,Libya,7040745,6958532.0,1.18%,1759540,4/km²
16609,203782,Ahmad Benali,1992-02-07,27,172.72,66.2,"CM,CF",Libya,72,73,...,69.0,LCM,107,108,Libya,7040745,6958532.0,1.18%,1759540,4/km²
16610,148684,Ali Abdullah Harib Al Habsi,1981-12-30,37,193.04,93.0,GK,Oman,72,72,...,74.0,GK,122,123,Oman,5323993,5223375.0,1.93%,309500,17/km²
16611,245221,Omar Abdulrahman,1991-09-20,27,172.72,59.9,CAM,United Arab Emirates,77,78,...,74.0,RES,93,94,United Arab Emirates,10081785,9991089.0,0.91%,83600,121/km²

In [152]:
fulldf.drop(['Rank', 'Area', 'Density (km²)', '2022 Population', 'Growth Rate', 'Density (km²)', 'Unnamed: 0'], axis=1, inplace=True)

In [153]:
fulldf

,id,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,club_team,club_rating,club_position,Country,2021 Population
0,158023,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,565000.0,Left,FC Barcelona,86.0,RW,Argentina,45605826.0
1,153079,Sergio Leonel Agüero del Castillo,1988-06-02,30,172.72,69.9,ST,Argentina,89,89,64500000.0,300000.0,Right,Manchester City,85.0,ST,Argentina,45605826.0
2,211110,Paulo Bruno Exequiel Dybala,1993-11-15,25,152.40,74.8,"CAM,RW",Argentina,89,94,89000000.0,205000.0,Left,Juventus,85.0,RW,Argentina,45605826.0
3,167664,Gonzalo Gerardo Higuaín,1987-12-10,31,185.42,88.9,ST,Argentina,87,87,48500000.0,205000.0,Right,Chelsea,83.0,ST,Argentina,45605826.0
4,201399,Mauro Emanuel Icardi Rivero,1993-02-19,26,154.94,74.8,ST,Argentina,87,90,64500000.0,130000.0,Right,Inter,82.0,ST,Argentina,45605826.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16607,217532,Mohammed Mounir Abdussalam,1992-04-08,26,152.40,76.2,"LB,LM",Libya,70,73,1800000.0,5000.0,Left,Los Angeles FC,70.0,SUB,Libya,6958532.0
16608,213302,Ismael Tajouri-Shradi,1994-03-28,24,170.18,68.9,"LW,RW,RM",Libya,71,76,3200000.0,6000.0,Left,New York City FC,69.0,RW,Libya,6958532.0
16609,203782,Ahmad Benali,1992-02-07,27,172.72,66.2,"CM,CF",Libya,72,73,3600000.0,4000.0,Right,Crotone,69.0,LCM,Libya,6958532.0
16610,148684,Ali Abdullah Harib Al Habsi,1981-12-30,37,193.04,93.0,GK,Oman,72,72,425000.0,12000.0,Right,Al Hilal,74.0,GK,Oman,5223375.0
16611,245221,Omar Abdulrahman,1991-09-20,27,172.72,59.9,CAM,United Arab Emirates,77,78,10500000.0,39000.0,Left,Al Hilal,74.0,RES,United Arab Emirates,9991089.0

In [154]:
fulldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16612 entries, 0 to 16611
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               16612 non-null  int64
 1   full_name        16612 non-null  object
 2   birth_date       16612 non-null  object
 3   age              16612 non-null  int64
 4   height_cm        16612 non-null  float64
 5   weight_kgs       16612 non-null  float64
 6   positions        16612 non-null  object
 7   nationality      16612 non-null  object
 8   overall_rating   16612 non-null  int64
 9   potential        16612 non-null  int64
 10  value_euro       16373 non-null  float64
 11  wage_euro        16612 non-null  float64
 12  preferred_foot   16612 non-null  object
 13  club_team        16612 non-null  object
 14  club_rating      16612 non-null  float64
 15  club_position    16612 non-null  object
 16  Country          16612 non-null  object
 17  2021 Population  14513 non-null  float64
dtypes: float64(6), int64(4), object(8)
memory usage: 2.4+ MB