In [8]:
import pandas as pd

In [9]:
df = pd.read_html('https://worldpopulationreview.com/countries')

In [14]:
df[0]

,Rank,Country,2022 Population,2021 Population,Growth Rate,Area,Density (km²)
0,1,China,1448471400,1.444216e+09,0.29%,9706961,149/km²
1,2,India,1406631776,1.393409e+09,0.95%,3287590,428/km²
2,3,United States,334805269,3.329151e+08,0.57%,9372610,36/km²
3,4,Indonesia,279134505,2.763618e+08,1.00%,1904569,147/km²
4,5,Pakistan,229488994,2.251999e+08,1.90%,881912,260/km²
...,...,...,...,...,...,...,...
204,205,San Marino,34085,3.401700e+04,0.20%,61,559/km²
205,206,Palau,18233,1.816900e+04,0.35%,459,40/km²
206,207,Tuvalu,12066,1.193100e+04,1.13%,26,464/km²
207,208,Nauru,10903,1.087600e+04,0.25%,21,519/km²
208,209,Vatican City,799,8.000000e+02,-0.12%,1,799/km²

In [15]:
df[0].to_csv('fifa_pop')

In [17]:
df.head()

AttributeError: 'list' object has no attribute 'head'